﻿@model Myskiv_Git.ViewModel.ControlPanelViewModel
@{
    ViewBag.Title = "Index";
    int counter = 1;
}

<h1>Git online</h1>
<div class="row">
    <div class="col-lg-6">
        <div class="well">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new {@class = "form-horizontal"}))
            {
                <fieldset>
                    <legend>Git control panel</legend>
                    <div class="form-group">
                        <label class="col-lg-4 control-label" for="gitCommand">The Command Line</label>
                        <div class="col-lg-8">
                            @Html.TextBoxFor(x => x.CommandLine, new {@class = "form-control", id = "gitCommand"})
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label" for="folderPath">root\</label>
                        <div class="col-lg-8">
                            @Html.TextBoxFor(x => x.FolderPath, new {@class = "form-control", id = "folderPath"})
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-8 col-lg-offset-4">
                            <button type="reset" class="btn btn-default">Reset</button>
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </fieldset>
            }
        </div>
        @if (!string.IsNullOrEmpty(Model.OutputInfo))
        {
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5 class="panel-heading">Output information</h5>
                </div>
                <div class="panel-body">
                    @Model.OutputInfo
                </div>
            </div>
        }
    </div>
    <div class="col-lg-6">
        @if (Model.CommandResults.Count > 0)
        {
            <table class="table table-striped table-hover">
                <thead>
                <th>#</th>
                <th>Date</th>
                <th>Seconds run</th>
                <th>Command</th>
                <th>Result</th>
                <th>More info</th>
                </thead>
                <tbody>

                @foreach (var i in Model.CommandResults)
                {
                    string cssClassName = i.Result ? "success" : "active";
                    <tr class="@cssClassName">
                        <td>@counter</td>
                        <td>@i.EventTime</td>
                        <td>@i.PerformTime.TotalSeconds</td>
                        <td>@i.Command</td>
                        <td>@i.Result</td>
                        <td>
                            <a class="CommandInfo" data-toggle="modal" data-target="#myModal" data-content="@i.OutputInformation">Info</a>
                        </td>
                    </tr>
                    ++counter;
                }
                </tbody>
            </table>
        }
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Command details</h4>
            </div>
            <div class="modal-body">
                <p id="textmessage">Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script>
    $(".CommandInfo").on("click", function () {
        var info = $(this).attr("data-content");
        debugger;
        var fghn = $( "#textmessage" ).text(info);
    });
</script>